.App {
  padding: 2em;
  min-height: 100vh;
  box-sizing: border-box;
}

.App-logo {
  height: 1.7em;
}

.App-main {
  /*font-size: calc(10px + 2vmin);*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}


.App-header {
}

.App-footer {
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}

