.Hero {
  display: flex;
  justify-content: center;
}

.Hero-title {
  font-size: 42px;
  margin-top: 0;
}

.Hero-paragraph {
  font-size: 18px;
  margin-top: 0;
}

.Hero-email-section-title {
  font-size: 16px;
  font-weight: 600;
}

.Hero-email-section-label {
  font-size: 14px;
}

.Hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3em;
}

.Hero-image {
  width: 20em;
}



