.Button-input-primary {
  background: #3B815E;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

input {
  padding: 1em 1.2em;
  width: 24em;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 15px;
}

input:focus {
  outline-color: #3B815E;
  outline-offset: 1px;
  outline-style: double;
}
